* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  
  background-image: url(./assets/background.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-gif {
  width: 375px;
  height: 145px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 20px auto;
  border-radius: 40px;
}

main {
  width: 375px;
  background-color: rgb(154, 227, 242);
  
  margin: 0 auto;
  border-radius: 20px;
  padding: 44px 24px 23px;
}



label {
  font-weight: 400px;
  font-size: 14px;
  color: #777777;
  padding-left: 18px;
}

select, input {
  width: 100%;
  height: 48px;
  font-weight: 700px;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  padding-left: 18px;
  margin-bottom: 30px;
  cursor: pointer;
}
/*
input {
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700px;
  font-size: 16px;
  line-height: 18px;
  color: #555555;
  margin-bottom: 23px;
  padding-left: 18px;
  cursor: pointer;
}
*/
button {
  width: 100%;
  height: 48px;
  background: #772fd3;
  border-radius: 15px;
  font-weight: 700px;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

section {
  width: 100%;
  border: 2px solid #772fd3;
  border-radius: 20px;
  margin-top: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-img {
  width: 25px;
  margin: 15px 0;
}

.currency-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.currency {
  color: #777777;
  font-size: 14px;
}

.currency-value, .currency-value-to-convert {
  color: #555555;
  font-weight: 700px;
  font-size: 20px;
}

.currency-real, .currency-img {
  width: 75px;
}